<Alloy>
	<Window title="Articles" id="mainWin" navBarHidden="true" exitOnClose="true">
		<TableView id="searchbarandroid">
			<TableViewRow>
			<TextField id="searchtext"></TextField>
			<Button id="searchbutton"/>
			</TableViewRow>
	</TableView>
	<!--	<Picker id="eventtypepicker" align ="center" top="70">   
      </Picker> -->
		<View class="tableViewWrapper">
			<View id="todaysEventsView" backgroundColor='#222' >
			</View>	
				<TableView id="todaysEventsTable" platform=android>
				</TableView>
			<View id="upcomingEventsView" backgroundColor='#222'>
			</View>	
				<TableView id="upcomingEventsTable" platform=android>
				</TableView>
			</View>
		
		<View id="bottom_toolbar" platform="android">
			<View id="bt_spacer" />
			<View class="bt_icon_wrapper">
				<ImageView id="topicsIcon" image="/images/menu_64a.png" />
			</View>
			<View class="bt_icon_wrapper">
				<ImageView id="favoritesIcon" image="/images/star_64a.png" />
			</View>
			<View class="bt_icon_wrapper">
				<ImageView id="tipIcon" image="/images/share_64a.png" />
			</View>
			<View class="bt_icon_wrapper">
				<ImageView id="settingsIcon" image="/images/gear_64a.png" />
			</View>
		</View>
	</Window>
</Alloy>